body {
  background: linear-gradient(to bottom right, #610164, #c20880);
  height: 1000px;
}

img {
  height: 15%;
  transform: translateY(130%);
  width: 50%;
}

i {
  color: black;
  padding: 12px;
}

.check {
  background-color: white;
  height: 100px;
  margin-top: 300px;
  width: 100px;
}
