<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>LYFT</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="../vendors/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/sing-up.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <i class="fa fa-chevron-left" aria-hidden="true"></i>
          <h3 class="text-center">Sing Up</h3>
          <h5 class="text-center">Join now for free ride credit</h5>
          <hr>
          <div class="square first">
            <select class="" name="">
              <option value="">Mexico</option>
              <option value="">Colombia</option>
              <option value="">Perú</option>
              <option value="">EEUU</option>
            </select>
          </div>
          <div class="square">
            <input id="number" type="number" name="" value="52">
          </div>
          <h5 class="text-center">We'll send a text to verify your phone</h5>
          <button id="next" type="button" class="btn btn-default btn-lg center-block" disabled="disabled">NEXT</button>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../vendors/bootstrap/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/sing-up.js"></script>
  </body>
</html>
